<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

           function update() { // 차트 갱신
               var dealJSON = /*[[${dealList}]]*/ [];
               var count = 0;

               dealJSON.forEach(function(deal){
                    deal.dealList.forEach(function(item) { // 전달받은 dealList의 값 중 거래List
                        console.log(item.money)
                       dealChart.data.datasets.push({ // datasets 배열에 값 삽입
                            label: item.checkYear,
                            data: [item.money],
                            backgroundColor: ['rgba(255, 99, 132, 0.2)'],
                            borderColor: ['rgba(255, 99, 132, 1)']
                       });
                    });
               });

               dealChart.update();

               dealJSON.forEach(function(deal){
                    deal.dealList.forEach(function(item) {
                       dealChart.data.labels.push(item.checkYear);
                    });
               });
               dealChart.update();

           };


           function check() { // 디버그용 코드
            var labelCount = dealChart.data.labels.length;
            var datasetLabelCount = dealChart.data.datasets.length;
            console.log("현재 라벨 수:", labelCount);
            console.log("현재 데이터 차트의 라벨 수:", datasetLabelCount);
            console.log(dealChart.data.labels[0]);
            console.log(dealChart.data.labels[1]);
            console.log(dealChart.data.labels[2]);
           }
        /*]]>*/
    </script>
</head>
<body style="margin: 50px">
<div>
    <canvas id="dealChart" width="80%" height="50%"> <!-- 차트 생성부-->
        <script>
            const ctx = document.getElementById('dealChart').getContext('2d'); // <canvas> id = "dealChart" 에 2d 타입의 차트 생성
            const dealChart = new Chart(ctx, {
                type: 'line', // 차트 표시타입
                data: { // 데이터가 들어갈 항목
                    labels: [], // x축 값
                    datasets: [], // y축 값
                },
                options: { // 차트 부가 옵션
                    responsive: true, // 차트가 반응형으로 동작하도록 설정
                    scales: {
                        y: {
                            beginAtZero: true // 차트의 y축이 0부터 시작
                        }
                    }
                }
            });
        </script>
    </canvas>
</div>
<input type="button" onclick="update()" value="갱신">
<input type="button" onclick="check()" value="점검">
</body>
</html>